<!DOCTYPE HTML>
<html ng-app="sgs">
<head>
    <meta charset="UTF-8">
    <title>三国杀群内助手</title>
    <link rel="icon" href="icon.png" mce_href="icon.png" type=”image/x-icon”>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/options.css"/>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/options.js"></script>
</head>
<body ng-controller="mapListCtrl">
<div class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="btnBox d-flex flex-row">
            <span class="h2 text-light"><a class="text-decoration-none" title="三国杀群内助手" href="" target="_blank">SCAM 三国杀群内助手</a></span>
            <div class="ms-5 d-flex flex-row">
                <button class="btn btn-success ms-2 px-4" ng-click="export()">添加</button>
                <button class="btn btn-primary ms-2 px-4" ng-click="addRule()">分享</button>
                <button class="file btn btn-danger ms-2 px-3">+<input type="file" id="jsonFile"/></div>
                <button class="btn btn-info ms-2 px-3" ng-click="addRule()">导出</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="display:{{editDisplay}};" class="editBox">
        <button type="button" class="close" aria-hidden="true" ng-click="hideEditBox()">&times;</button>
        <div class="errorMsg">{{inputError}}</div>
        <div class="form-group">
            <label for="req">If URL match:</label>
            <input type="text" class="form-control" id="req" ng-model="curRule.req"/>
        </div>
        <div class="form-group">
            <label for="res">Response:</label>
            <input type="text" class="form-control" id="res" ng-model="curRule.res"/>
        </div>
        <div class="form-group">
            <label for="res">Group:</label>
            <input type="text" class="form-control" id="res" ng-model="curRule.group"/>
        </div>
        <button class="btn-block btn btn-primary" ng-click="saveRule()">保存</button>
    </div>
    <table>
        <tboby>
            <tr ng-repeat="(group, rulesMap) in rules track by $index">
                <td>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <td>Group</td>
                            <td>Enable</td>
                            <td>If URL match</td>
                            <td>Response</td>
                            <td>Operating</td>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rule in rulesMap track by $index">
                                <td ng-if="$index === 0" rowspan="{{rulesMap.length}}" style="width: 140px;vertical-align: middle;border-right: 1px solid #ddd;background: #fff;">{{group || group === unidefined || '未命名'}}</td>
                                <td><input type="checkbox" ng-model="rule.checked"/></td>
                                <td><div title="{{rule.req}}">{{rule.req}}</div></td>
                                <td><div title="{{rule.res}}">{{rule.res}}</div></td>
                                <td>
                                    <button ng-click="edit(rule)" type="button" class="btn btn-primary btn-sm edit">编辑</button>
                                    <button ng-click="removeUrl(rule)" type="button" class="btn btn-default btn-sm remove">删除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tboby>
    </table>

</div>
</body>
</html>