<!DOCTYPE HTML>
<html ng-app="sgs">
<head>
    <meta charset="UTF-8">
    <title>三国杀群内助手</title>
    <link rel="icon" href="icon.png" mce_href="icon.png" type=”image/x-icon”>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/options.css"/>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/options.js"></script>
</head>
<body ng-controller="mapListCtrl" class="d-flex flex-column justify-center">

    <!-- 导航栏 -->
    <div class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="btnBox d-flex flex-row">
                <span class="h2 text-light"><a class="text-decoration-none" title="三国杀群内助手" href="" target="_blank">SCAM 三国杀群内助手</a></span>
                <div class="ms-5 d-flex flex-row">
                    <button class="btn btn-success ms-2 px-4" ng-click="importRules()">添加</button>
                    <button class="btn btn-success ms-2 px-4" ng-click="addRules()">生成</button>
                    <button class="btn btn-primary ms-2 px-4" ng-click="exportRules()">分享</button>
                    <!-- <button class="file btn btn-danger ms-2 px-3">导入<input type="file" id="jsonFile"/></div>
                    <button class="btn btn-info ms-2 px-3" ng-click="exportFile()">导出</button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="mx-4 table-responsive">
        <!-- 添加订阅规则 -->
        <div style="display:{{editDisplay}};" class="editBox">
            <button type="button" class="btn-close" ng-click="hideEditBox()"></button>
            <div class="errorMsg">{{inputError}}</div>
            <div class="mt-4">
                <label for="req">订阅规则</label>
                <input type="text" class="form-control" id="req" ng-model="curRule.url"/>
            </div>
            <div class="mt-2">
                <label for="res">标题:</label>
                <input type="text" class="form-control" id="res" ng-model="curRule.title"/>
            </div>
            <div class="mt-2">
                <label for="res">备注:</label>
                <input type="text" class="form-control" id="res" ng-model="curRule.comment"/>
            </div>
            <button class="mt-2 btn-block btn btn-primary" ng-click="saveRule()">保存</button>
        </div>

        <!-- 订阅规则列表 -->
        <table class="col-12 table table-hover table-bordered">
            <thead>
                <td>开启</td>
                <td>标题</td>
                <td>备注</td>
                <td>地址</td>
            </thead>
            <tbody>
                <tr ng-repeat="rule in rules track by $index">
                    <td class="checkbox"><input type="checkbox" ng-model="rule.checked" ng-click="changeRules(rule)" /></td>
                    <td><div title="{{rule.title}}">{{rule.title}}</div></td>
                    <td><div title="{{rule.comment}}">{{rule.comment}}</div></td>
                    <td><div title="{{rule.url}}">{{rule.url}}</div></td>
                    <td>
                        <button ng-click="edit(rule)" type="button" class="btn btn-primary btn-sm edit">编辑</button>
                        <button ng-click="removeRules(rule)" type="button" class="btn btn-default btn-sm remove">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>