<!DOCTYPE html>
<html ng-app="sgs">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/popup.css" />
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/popup.js"></script>
  </head>
  <body ng-controller="mapListCtrl">
    <div class="container d-flex flex-column">
        <p class="fw-semibold text-center">三国杀群内助手</p>
        <button
          tabindex="-1"
          class="btn btn-sm"
          ng-class="switch.enable ? 'btn-success': 'btn-warning'"
          ng-click="toggleRules()"
        >
          {{switch.switchText}}
        </button>
        <button
          class="btn btn-sm mt-2"
          ng-class="updateStatus.success ? 'btn-success': 'btn-danger'"
          type="button"
          ng-click="updateRules()"
        >
          <span
            ng-if="updateStatus.loading"
            class="spinner-border spinner-border-sm"
            role="status"
          ></span>
          <span
            ng-if="updateStatus.showResult && updateStatus.success"
          >√ 更新成功!</span>
          <span
            ng-if="updateStatus.showResult && !updateStatus.success"
          >X 更新失败</span>
          <span
            ng-if="!updateStatus.showResult"
          >更新规则</span>
        </button>

        <a
          href="options.html"
          target="_blank"
          tabindex="-1"
          class="btn btn-primary btn-sm mt-2"
          >管理规则</a
        >
        <a
          href="https://jq.qq.com/?_wv=1027&k=lepPr9GF"
          target="_blank"
          tabindex="-1"
          class="btn btn-danger btn-sm mt-2"
          >加入Q群</a
        >
        <p class="text-end fs-6 mt-2">作者：瓜</p>
    </div>
  </body>
</html>
